fastapi==0.115.12
uvicorn[standard]==0.34.3
sqlalchemy==2.0.41
alembic==1.14.1
psycopg2-binary==2.9.10
pydantic[email]==2.11.5
pydantic-settings==2.9.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-multipart==0.0.20
email-validator==2.2.0
boto3==1.38.26
cloudinary==1.44.0
aiosmtplib==3.0.2
